{%  extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Авторизация" %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="text-center">{% trans "Постановка задачи" %}</h1>
</div>
<div class="row">
    <div class="col-md-10  col-md-offset-1">
        <h3>Реализовать адресную книгу на Django, которая соответствует следующим требованиям:</h3>
        <h4>Поля</h4>
        <ul>
            <li>ФИО</li>
            <li>Дата рождения</li>
            <li>Адрес</li>
            <li>Телефон</li>
            <li>Электронная</li>
            <li>Комментарий</li>
        </ul>
        <p>ФИО и Адрес -- обязательные.</p>
        <h4>Требуемые возможности:</h4>
        <ul>
            <li>Логин (имя пользователя + пароль)</li>
            <li>Просмотр списка записей</li>
            <li>Просмотр записи</li>
            <li>Добавление новой записи</li>
            <li>Редактирование записи</li>
            <li>Удаление записи</li>
            <li>Возможность скачать всю книгу в CSV</li>
        </ul>
        <h4>Дополнительно:</h4>
        <ul>
            <li>Регистрация. По-умолчанию добавляем пользователей через админку.</li>
            <li>Удаление/редактирование в списке записей.</li>
            <li>Собственные представления о прекрасном (оформи модули как считаешь нужным, сеттинги там, может даже бутстрап подцепишь).</li>
            <li>У каждого пользователя своя уникальная адресная книга</li>
        </ul>
    </div>
</div>
{% endblock %}